<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <div th:include="partials/head.html :: head"></div>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<th:block th:fragment="footer" class="footer type here page-footer dark" style="margin-top: 100px">

    <hr class="footer">
    <footer>
        <div class="container">
            <div class="row">
                <section class="col-6">
                    <h2 class="h4"><i class="fa fa-user"></i> Our Info</h2>
                    <div><span><strong>Name</strong></span></div>
                    <div><abbr data-toggle="tooltip" data-placement="top"
                               title="Office Phone: 555-867-5309">O:</abbr> 210-555-5555
                    </div>
                    <div><span>team@tierone.com</span></div>
                    <div><span>www.tierone.com</span></div>
                    <hr class="d-sm-none d-md-block d-lg-none">
                </section>
                <div class="col-6">
                    <h2 class="h4"><i class="fa fa-location-arrow"></i> Our Address</h2>
                    <div><span><strong>Office Name</strong></span></div>
                    <div><span>12345 Gold Standard Dr</span></div>
                    <div><span>San Antonio TX, 78209</span></div>
                    <hr class="d-sm-none d-md-block d-lg-none">
                </div>
            </div>
        </div>
    </footer>
</th:block>

</body>
</html>
