<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container mt-4" style="background-color: azure; height: 90vh">-->
<!--    <div class="row justify-content-center align-items-center" style="height: 90vh">-->
<!--        <form class="col-8" th:action="@{|/users/edit/${id}|}" th:method="POST" th:object="${users}">-->
<!--            <h1 class="text-center mb-5">Create a new Post</h1>-->
<!--            <div class="form-group">-->
<!--                &lt;!&ndash;                <label for="title">Title</label>&ndash;&gt;-->
<!--                <input th:field="*{firstName}" class="form-control" type="text" required> &lt;!&ndash; adding required to field to make sure it's not left empty by user &ndash;&gt;-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                &lt;!&ndash;                <label for="body">Body</label>&ndash;&gt;-->
<!--                <textarea th:field="*{lastName}" class="form-control" required></textarea> &lt;!&ndash; adding required to field to make sure it's not left empty by user&ndash;&gt;-->
<!--            </div>-->
<!--            <input type="submit" class="btn btn-block btn-primary" value="Add">-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
