<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <th:block th:replace="partials/head :: head('Login')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />

<h1>Log-In</h1>
<form th:action="@{/login}" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" type="text"/>

    <label for="password">Password</label>
    <input id="password" name="password" type="password"/>
    <input type="submit" value="Log In"/>
</form>

<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>
