<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('User Profile')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main class="page profile-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Profile</h2>
                <p>Some fun text courtesy of Audi, do we want words here or a logo?.</p>
            </div>
            <div class="card" sec:authorize="isAuthenticated()">
                <h3 class="card-header"><img th:src="*{user.profileImage}" alt="Profile Image"></h3>
                <form class="alert alert-danger" th:action="${'/profile/edit'}"
                      method="GET">
                    <button type="submit">Edit Profile</button>
                </form>
                <div class="card-body">
                    <p class="card-text" th:text="*{user.username}"></p>
                    <p class="card-text" th:text="*{user.firstName}"></p>
                    <p class="card-text" th:text="*{user.lastName}"></p>
                    <h5 class="card-title" th:text="*{user.alias}"></h5>
                    <p class="card-text" th:text="*{user.getFormattedPhone()}"></p>
                    <p class="card-text" th:text="*{user.email}"></p>
                    <p class="card-text" th:text="*{user.streetAddress}"></p>
                    <p class="card-text" th:text="*{user.city}"></p>
                    <p class="card-text" th:text="*{user.state}"></p>
                    <p class="card-text" th:text="*{user.zipcode}"></p>
                    <p class="card-text" th:text="*{user.dateOfBirth}"></p>
                </div>
                <h3>Employment History</h3>
                <form class="success btn-success" th:action="${'/profile/add/job'}"
                      method="POST">
                    <button type="submit">Add Job</button>
                </form>
                <div class="card" th:each="employment : ${user.employmentHistory}">
                    <form class="alert alert-danger" th:action="${'/profile/delete/job/' + employment.id}"
                          method="POST">
                        <button type="submit">Remove Job</button>
                    </form>

                    <form class="alert alert-danger" th:action="${'/profile/edit/job/' + employment.id}"
                          method="GET">
                        <button type="submit">Edit Job</button>
                    </form>
                    <h5 class="card-title" th:text="*{employment.employer}"></h5>
                    <p class="card-text" th:text="*{employment.streetAddress}"></p>
                    <p class="card-text" th:text="*{employment.city}"></p>
                    <p class="card-text" th:text="*{employment.state}"></p>
                    <p class="card-text" th:text="*{employment.zipcode}"></p>
                    <p class="card-text" th:text="*{employment.getFormattedPhone()}"></p>
                    <p class="card-text" th:if="*{employment.startDate != null}" th:text="*{employment.getFormattedStartDate()}"></p>
                    <p class="card-text" th:if="*{employment.startDate == null}" th:text="*{employment.startDate}"></p>
                    <p class="card-text" th:if="*{employment.endDate != null}" th:text="*{employment.getFormattedEndDate()}"></p>
                    <p class="card-text" th:if="*{employment.endDate == null}" th:text="*{employment.endDate}"></p>
                    <p class="card-text" th:text="*{employment.positions}"></p>
                    <p class="card-text" th:text="*{employment.supervisor}"></p>
                    <p class="card-text" th:text="*{employment.reasonForLeaving}"></p>
                    <p class="card-text" th:text="*{employment.okToCall}"></p>
                </div>
                <h3>Education</h3>
                <form class="success btn-success" th:action="${'/profile/add/education'}"
                      method="POST">
                    <button type="submit">Add Education</button>
                </form>
                <div class="card" th:each="education : ${user.educationHistory}">
                    <form class="alert alert-danger" th:action="${'/profile/delete/education/' + education.id}"
                          method="POST">
                        <button type="submit">Remove Education</button>
                    </form>
                    <form class="alert alert-danger" th:action="${'/profile/edit/education/' + education.id}"
                          method="GET">
                        <button type="submit">Edit Education</button>
                    </form>
                    <h5 class="card-title" th:text="*{education.school}"></h5>
                    <p class="card-text" th:text="*{education.streetAddress}"></p>
                    <p class="card-text" th:text="*{education.city}"></p>
                    <p class="card-text" th:text="*{education.state}"></p>
                    <p class="card-text" th:text="*{education.zipcode}"></p>
                    <p class="card-text" th:text="*{education.degree}"></p>
                    <p class="card-text" th:text="*{education.major}"></p>
                    <p class="card-text" th:if="*{education.startDate != null}" th:text="*{education.getFormattedStartDate()}"></p>
                    <p class="card-text" th:if="*{education.startDate == null}" th:text="*{education.startDate}"></p>
                    <p class="card-text" th:if="*{education.endDate != null}" th:text="*{education.getFormattedEndDate()}"></p>
                    <p class="card-text" th:if="*{education.endDate == null}" th:text="*{education.endDate}"></p>
                    <p class="card-text" th:text="*{education.graduated}"></p>
                </div>
            </div>
        </div>

<!--        <div class="grid grid-cols-12 flex-grow">-->
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                <h4>Edit Account</h4>-->
<!--                <form th:action="@{/profile}" th:method="post" th:object="${user}">-->
<!--                    <label for="email" class="w-full">-->
<!--                        <input id="email" th:field="*{email}"/>-->
<!--                    </label>-->
<!--                    <label for="first" class="w-full">-->
<!--                        <input id="first" th:field="*{firstName}"/>-->
<!--                    </label>-->
<!--                    <label for="last" class="w-full">-->
<!--                        <input id="last" th:field="*{lastName}"/>-->
<!--                    </label>-->
<!--&lt;!&ndash;                    <div class="col-6">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button class="btn btn-pill btn-info" type="button" id="picker">Profile Picture</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="hidden" th:field="*{profileImage}">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <input th:field="*{id}" type="hidden"/>-->
<!--                    <button type="submit" value="Update" style="background-color: #F5CB5C"-->
<!--                            class="w-full text-grey-800 appearance-none rounded-md relative block w-full mx-auto px-4 py-4 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm max-w-xs">-->
<!--                        Edit Profile-->
<!--                    </button>-->
<!--                </form>-->
<!--            </div>-->
<!--            </form>-->
<!--        </div>-->

    </section>

<!--    <div class="card mb-3" style="max-width: 540px;">-->
<!--        <div class="row no-gutters">-->
<!--            <div class="col-md-4">-->

<!--                &lt;!&ndash;Profile Photo&ndash;&gt;-->
<!--                &lt;!&ndash;Filestack&ndash;&gt;-->
<!--                <div class="wrapper profile-img pl-2">-->
<!--                    <img id="profileImageDisplay" class="image&#45;&#45;cover all-image-cover"-->
<!--                         th:src="*{user.profileImage}"-->
<!--                         style="border-radius: 50%; width: 200px; height: 200px"/>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</main>

<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>

<!--<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>-->
<!--<script src="js/keys.js"></script>-->
<!--<script type="text/javascript" th:src="@{/js/filestack.js}"></script>-->


</body>


</html>