<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <th:block th:replace="partials/head :: head('Login')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>

<main class="page registration-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Registration</h2>
        <p>Some fun text courtesy of Audi, do we want words here or a logo?.</p>
      </div>
        <form th:action="@{/users/register}" method="POST" th:object="${user}">

          <label for="username">Username</label>
          <input id="username" th:field="*{username}" />

          <label for="email">Email</label>
          <input id="email" th:field="*{email}" />

          <label for="password">Password</label>
          <input id="password" type="password" th:field="*{password}" />

          <label for="firstName">First Name</label>
          <input id="firstName" th:field="*{firstName}" />

          <label for="lastName">Last Name</label>
          <input id="lastName" th:field="*{lastName}" />

          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" th:field="*{phoneNumber}" />

          <div class="col-6">
            <button class="btn btn-pill btn-info" type="button" id="picker">Profile Picture</button>
            <input type="hidden" th:field="*{profileImage}">
          </div>
          <input value="Sign me up!" type="submit" />
        </form>
    </div>
  </section>
</main>
</body>
</html>
<!--<th:block th:replace="partials/footer :: footer"/>-->
<th:block th:replace="partials/scripts :: scripts"/>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/keys.js"></script>
<script type="text/javascript" src="/js/filestack.js"></script>



