<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <th:block th:replace="partials/head :: head('Login')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>

<main class="container-fluid">
    <h1 class="text-center text-info mt-3 mb-3">Registration</h1>
    <div class="row d-flex justify-content-center">
        <div class="card col-6">
            <form th:action="@{/register}" method="POST" th:object="${user}">

                <div class="col-12 mt-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control form-control-lg" type="text" id="username" th:field="*{username}"/>
                </div>

                <div class="col-12 mt-3">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-control form-control-lg" type="text" id="email" th:field="*{email}"/>
                </div>

                <div class="col-12 mt-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control form-control-lg" id="password" type="password" th:field="*{password}"/>
                </div>

                <div class="col-12 mt-3">
                    <label class="form-label" for="firstName">First Name</label>
                    <input class="form-control form-control-lg" type="text" id="firstName" th:field="*{firstName}"/>
                </div>

                <div class="col-12 mt-3">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input class="form-control form-control-lg" type="text" id="lastName" th:field="*{lastName}"/>
                </div>

                <div class="col-12 mt-3">
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input class="form-control form-control-lg" type="text" id="phoneNumber" th:field="*{phoneNumber}"/>
                </div>

                <div class="col-12 mt-3">
                    <input class="btn btn-pill btn-primary mb-2" value="Sign me up!" type="submit"/>
                </div>
            </form>
        </div>
    </div>
</main>


<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>




