body {
    background-color: #EBEEF1;
}

.card {
    background-color: #E7F2F8;
}

#card-names {
    color: darkblue;
}

.fa {
    font-size: 2rem;
}

.fa-github {
    color: black;
}

.fas {
    font-size: 2rem;
    color: forestgreen;
}