@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Playfair+Display:ital,wght@1,800&family=Seaweed+Script&display=swap');

.card {
  background-color: #E7F2F8;
}

#card-names {
  color: darkblue;
}

.fa {
  font-size: 2rem;
}

.fa-github {
  color: black;
}

.fas {
  font-size: 2rem;
  color: forestgreen;
}

.header-top {
  font-family: 'Playfair Display', serif;
}

.sub-head {
  font-family: 'Seaweed Script', cursive;
}

body {
    background-color: #FFFFFF;
}

.navbarsupport {
 background-color: #d28a3c;
}

.main-block{
    background-color: #580701;
}

.container-fluid  {
  width: 90%;
  /*max-width:400px;*/
  height: auto;
  margin: 20px auto;
  padding: 20px;
  /*background: #DDD;*/
  position:relative;
}

.big-logo{
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0;
}

#logo {
  padding: 0;
  margin: 0;
}
.word-logo{
  align-content: center;
}

.navbar-brand {
  margin: 0;
  padding: 0;

}
.nav-link {
  font-family: 'Open Sans', sans-serif;
  text-decoration-color: black;
  font-weight: bold;
}

.welcome-block {
  text-align: center;
}

.jumbotron {
  background-image: url(/img/tech/interview-pic.jpeg);
  background-attachment: fixed;
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: inherit;
}

.btn {
  background-color: #e09f3e;
}

.icon-refresh {
  color: #e09f3e;
}

.icon-pencil {
  color: #e09f3e;
}

.icon-star {
  color: #e09f3e;
}
