<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/head :: head('About Us')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>

<main class="container-fluid">
    <section class="clean-block about-us">
        <h1 class="mt-4 ml-5 text-info">About Us</h1>
        <div class="row">
            <div class="mt-4 col-sm-12 col-md-6 col-lg-6">
                <div class="text-center clean-"><img class="-img-top w-100"
                                                     style="border-radius: 25%"
                                                     src="img/sam-resize.png">
                    <div class="-body info">
                        <h4 class="-title">Sam Lansford</h4>
                        <p class="-text">Software Developer</p>
                        <div class="icons"><a href="https://www.linkedin.com/in/sam-lansford/" target="_blank"><i
                                class="fa fa-linkedin mr-1"></i></a><a href="https://github.com/SamLansford"
                                                                       target="_blank"><i
                                class="fa fa-github mr-1"></i></a><a
                                href="https://alumni.codeup.com/students/1186" target="_blank"><i
                                class="fas fa-chevron-circle-up"
                                style="transform: rotate(37deg); display: inline-block"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 col-sm-12 col-md-6 col-lg-6">
                <div class="text-center clean-"><img class="-img-top w-100 d-block"
                                                     style="border-radius: 25%" src="img/audi-pic.jpg">
                    <div class="-body info">
                        <h4 class="-title">Audi Brattin</h4>
                        <p class="-text">Software Developer</p>
                        <div class="icons"><a href="https://www.linkedin.com/in/audibrattin/" target="_blank"><i
                                class="fa fa-linkedin mr-1"></i></a><a href="https://github.com/b-audiesha"
                                                                       target="_blank"><i
                                class="fa fa-github mr-1"></i></a><a
                                href="https://alumni.codeup.com/students/1197" target="_blank"><i
                                class="fas fa-chevron-circle-up"
                                style="transform: rotate(37deg); display: inline-block"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 col-sm-12 col-md-6 col-lg-6">
                <div class="text-center clean-"><img class="-img-top w-100"
                                                     style="border-radius: 25%" src="img/sergio.jpeg">
                    <div class="-body info">
                        <h4 class="-title">Sergio Cazaresmuniz</h4>
                        <p class="-text">Software Developer</p>
                        <div class="icons"><a href="https://www.linkedin.com/in/sergio-cazaresmuniz/" target="_blank"><i
                                class="fa fa-linkedin mr-1"></i></a><a href="https://github.com/Sergiocazares"
                                                                       target="_blank"><i
                                class="fa fa-github mr-1"></i></a><a
                                href="https://alumni.codeup.com/students/1199" target="_blank"><i
                                class="fas fa-chevron-circle-up"
                                style="transform: rotate(37deg); display: inline-block"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 col-sm-12 col-md-6 col-lg-6">
                <div class="text-center clean-"><img class="-img-top w-100"
                                                     style="border-radius: 25%"
                                                     src="img/william-resize.jpg">
                    <div class="-body info">
                        <h4 class="-title">William Baldridge</h4>
                        <p class="-text">Software Developer</p>
                        <div class="icons"><a href="https://www.linkedin.com/in/william-baldridge/" target="_blank"><i
                                class="fa fa-linkedin mr-1"></i></a><a href="https://github.com/WilliamBaldridge"
                                                                       target="_blank"><i
                                class="fa fa-github mr-1"></i></a><a
                                href="https://alumni.codeup.com/students/1183" target="_blank"><i
                                class="fas fa-chevron-circle-up"
                                style="transform: rotate(37deg); display: inline-block"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>
