<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head ('Profile')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<main class="page profile-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Profile</h2>
                <div class="warning" th:if="${currentUser.isAdmin()}">
                    <form th:action="${'/profile/admin/' + user.id}" method="POST">
                        <button type="submit">Admin</button>
                    </form>
                    <form class="success" th:action="${'/profile/verify/' + user.id}" method="POST">
                        <button type="submit">Verify</button>
                    </form>
                    <form class="alert-danger alert" th:action="${'/profile/delete/' + user.id}" method="POST">
                        <button type="submit">Delete User</button>
                    </form>
                </div>
            </div>
            <div class="card">
                <h3 class="card-header"><img th:src="*{user.profileImage}" alt="Profile Image"></h3>
              <div class="card">
                <div th:if="*{user.verified}">
                  <span class="badge badge-success">Verified User</span>
                </div>
              </div>
                <div class="card-body">
                    <p class="card-text" th:text="*{user.username}"></p>
                    <p class="card-text" th:text="*{user.firstName}"></p>
                    <p class="card-text" th:text="*{user.lastName}"></p>
                    <h5 class="card-title" th:text="*{user.alias}"></h5>
                    <p class="card-text" th:text="*{user.phoneNumber}"></p>
                    <p class="card-text" th:text="*{user.email}"></p>
                    <p class="card-text" th:text="*{user.streetAddress}"></p>
                    <p class="card-text" th:text="*{user.city}"></p>
                    <p class="card-text" th:text="*{user.state}"></p>
                    <p class="card-text" th:text="*{user.zipcode}"></p>
                    <p class="card-text" th:text="*{user.dateOfBirth}"></p>
                </div>
                <h3>Employment Detail</h3>
                <div class="card" th:each="employment : ${user.employmentHistory}">
                    <h5 class="card-title" th:text="*{employment.employer}"></h5>
                    <p class="card-text" th:text="*{employment.streetAddress}"></p>
                    <p class="card-text" th:text="*{employment.city}"></p>
                    <p class="card-text" th:text="*{employment.state}"></p>
                    <p class="card-text" th:text="*{employment.zipcode}"></p>
                    <p class="card-text" th:text="*{employment.phoneNumber}"></p>
                    <p class="card-text" th:text="*{employment.startDate}"></p>
                    <p class="card-text" th:text="*{employment.endDate}"></p>
                    <p class="card-text" th:text="*{employment.positions}"></p>
                    <p class="card-text" th:text="*{employment.supervisor}"></p>
                    <p class="card-text" th:text="*{employment.reasonForLeaving}"></p>
                    <p class="card-text" th:text="*{employment.okToCall}"></p>
                </div>
                <h3>Education</h3>
                <div class="card" th:each="education : ${user.educationHistory}">
                    <h5 class="card-title" th:text="*{education.school}"></h5>
                    <p class="card-text" th:text="*{education.streetAddress}"></p>
                    <p class="card-text" th:text="*{education.city}"></p>
                    <p class="card-text" th:text="*{education.state}"></p>
                    <p class="card-text" th:text="*{education.zipcode}"></p>
                    <p class="card-text" th:text="*{education.degree}"></p>
                    <p class="card-text" th:text="*{education.major}"></p>
                    <p class="card-text" th:text="*{education.startDate}"></p>
                    <p class="card-text" th:text="*{education.endDate}"></p>
                    <p class="card-text" th:text="*{education.graduated}"></p>
                </div>
            </div>
        </div>

    </section>
</main>

<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
</body>

</html>
