<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="partials/head :: head('Edit Job')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<main>
<div align="center">
    <h1>Edit Profile Form</h1>
    <div class="card" sec:authorize="isAuthenticated()">
        <form th:action="@{/profile/edit}" method="POST" th:object="${user}">

            <label>User Name</label>
            <input type="text" th:field="*{username}">
            <br>

            <label>First Name</label>
            <input type="text" th:field="*{firstName}">
            <br>

            <label>Last Name</label>
            <input type="text" th:field="*{lastName}">
            <br>

            <label>Phone Number</label>
            <input type="text" th:field="*{phoneNumber}" >
            <br>

            <label>Email</label>
            <input type="text" th:field="*{email}">
            <br>

            <label>Alias</label>
            <input type="text" th:field="*{alias}">
            <br>

            <label>Street Address</label>
            <input type="text" th:field="*{streetAddress}">
            <br>

            <label>City</label>
            <input type="text" th:field="*{city}" >
            <br>

            <label>State</label>
            <input type="text" th:field="*{state}" >
            <br>

            <label>Zipcode</label>
            <input type="text" th:field="*{zipcode}">
            <br>

<!--  Profile Image somewhere in here          -->

            <div class="col-6">
                <button class="btn btn-pill btn-info" type="button" id="picker">Profile Picture</button>
                <input type="hidden" th:field="*{profileImage}">
            </div>
            <button type="submit">Send form</button>

        </form>


    </div>
</div>
</main>

<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="/keys.js"></script>
<script type="text/javascript" src="/js/filestack.js"></script>

</body>
</html>