<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="partials/head :: head('Job')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>

<div class="container">
    <section class="clean-block">
        <h1 class="text-center text-info mt-4 mb-3">Edit Job Experience</h1>
        <div class="row d-flex justify-content-center">
            <div class="card col-12">
                <form th:action="@{|/edit/job/${job.id}|}" method="POST" th:object="${job}">

                    <div class="row">
                        <div class="col-6 mt-3">
                            <label class="form-label">Employer</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{employer}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Position</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{positions}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Street Address</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{streetAddress}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">City</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{city}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">State</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{state}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Zipcode</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{zipcode}">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mt-3">
                            <label class="form-label" th:if="${job.startDate != null}">Start Date</label>
                            <input class="form-control form-control-lg" type="date" name="jobStartDate"
                                   th:if="${job.startDate != null}"
                                   th:value="${job.getFormattedStartDate()}">
                        </div>

                        <div class="col-6 mt-3" style="display: none">
                            <label class="form-label" style="display: none" th:if="${job.startDate == null}">Start
                                Date</label>
                            <input class="form-control form-control-lg" style="display: none" type="date"
                                   name="jobStartDate"
                                   th:if="${job.startDate == null}" th:value="*{startDate}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label" th:if="${job.endDate != null}">End
                                Date</label>
                            <input class="form-control form-control-lg" type="date" name="jobEndDate"
                                   th:if="${job.endDate != null}" th:value="${job.getFormattedEndDate()}">
                        </div>

                        <div class="col-6 mt-3" style="display: none">
                            <label class="form-label" style="display: none" th:if="${job.endDate == null}">End
                                Date</label>
                            <input class="form-control form-control-lg" type="date" name="jobEndDate"
                                   style="display: none"
                                   th:if="${job.endDate == null}" th:value="*{endDate}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Supervisor</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{supervisor}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Reason For Leaving</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{reasonForLeaving}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Ok to Call?</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{okToCall}">
                        </div>

                        <div class="col-6 mt-3">
                            <label class="form-label">Phone Number</label>
                            <input class="form-control form-control-lg" type="text" th:field="*{phoneNumber}">
                        </div>

                        <div class="col-12 mt-4">
                            <button class="btn btn-primary mb-2 col-12" type="submit">Send form</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>