<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="partials/head :: head('Add Education')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />

<div align="center">
    <h1>Education Experience Form</h1>
    <div class="card" sec:authorize="isAuthenticated()">
        <form th:action="@{/education-experience}" method="POST" th:object="${education}">

            <label>School</label>
            <input type="text" th:field="*{school}">
            <br>

            <label>Street Address</label>
            <input type="text" th:field="*{streetAddress}">
            <br>

            <label>City</label>
            <input type="text" th:field="*{city}">
            <br>

            <label>State</label>
            <input type="text" th:field="*{state}">
            <br>

            <label>Zipcode</label>
            <input type="text" th:field="*{zipcode}">
            <br>

            <label>Start Date</label>
            <input type="date" name="educationStartDate" th:value="*{startDate}">
            <br>

            <label>End Date</label>
            <input type="date" name="educationEndDate" th:value="*{endDate}">
            <br>

            <label>Degree</label>
            <input type="text" th:field="*{degree}">
            <br>

            <label>Major</label>
            <input type="text" th:field="*{major}">
            <br>

            <label>Graduated</label>
            <input type="text" th:field="*{graduated}">
            <br>

            <button type="submit">Send form</button>

        </form>
    </div>
</div>

<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>