<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <th:block th:replace="partials/head :: head('All Users')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />

<main class="row">
    <div class="col-12 d-flex flex-wrap justify-content-between align-items-middle">
        <div class="card bg-secondary mt-2 mr-2 ml-2 mb-2 border border-dark" style="width: 24rem;"
             th:each="user : ${users}">
            <div class="card-header">
                <h3 class="card-title">
                    <a th:href="'/profile/' + ${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"
                       class="stretched-link text-white"></a>
                </h3>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${user.phoneNumber}"></p>
                <p class="card-text" th:text="${user.email}"></p>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>
