<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <th:block th:replace="partials/head :: head('All Users')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar" />

<main class="page service-page">
  <section class="clean-block clean-services dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Service Page</h2>
             th:each="user : ${users}">
            <div class="card-header">
                <h3 class="card-title">
                    <a th:href="'/profile/' + ${user.id}" th:text="${user.firstName} + ' ' + ${user.lastName}"
                       class="stretched-link text-white"></a>
                </h3>
            </div>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="card"><img class="card-img-top w-100 d-block" src="assets/img/scenery/image5.jpg">
            <div class="card-body">
              <h4 class="card-title">Lorem Ipsum</h4>
              <p class="card-text" th:text="${user.phoneNumber}"></p>
              <p class="card-text" th:text="${user.email}"></p>
            </div>
            </div>
            <div><button class="btn btn-outline-primary btn-sm" type="button">Learn More</button></div>
            <div class="card">
            <div sec:authorize="isVerified()" th:if="${user.isVerified}">
              <span class="badge badge-success">Verified User</span>

            </div>
          </div>
        </div>





<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>
