<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="partials/head :: head('Add Job')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>

<div align="center">
    <h1>Job Experience Form</h1>
    <div class="card" sec:authorize="isAuthenticated()">
        <form th:action="@{/job-experience}" method="POST" th:object="${employment_detail}">

            <label>Employer</label>
            <input type="text" th:field="*{employer}">
            <br>

            <label>Position</label>
            <input type="text" th:field="*{positions}">
            <br>

            <label>Street Address</label>
            <input type="text" th:field="*{streetAddress}">
            <br>

            <label>City</label>
            <input type="text" th:field="*{city}">
            <br>

            <label>State</label>
            <input type="text" th:field="*{state}">
            <br>

            <label>Zipcode</label>
            <input type="text" th:field="*{zipcode}">
            <br>

            <label>Start Date</label>
            <input type="text" th:fields="*{startDate}">
            <br>

            <label>End Date</label>
            <input type="text" th:fields="*{endDate}">
            <br>

            <label>Supervisor</label>
            <input type="text" th:field="*{supervisor}">
            <br>

            <label>Reason For Leaving</label>
            <input type="text" th:field="*{reasonForLeaving}">
            <br>

            <label>Ok to Call?</label>
            <input type="text" th:field="*{okToCall}">
            <br>

            <label>Phone Number</label>
            <input type="text" th:field="*{phoneNumber}">
            <br>

            <button type="submit">Send form</button>

        </form>
    </div>
</div>


<th:block th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>