<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Fill out form for job experience</title>
    <link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

    <div align="center">
        <h1>Job Experience Form</h1>
        <div class="card" sec:authorize="isAuthenticated()">
        <form th:action="@{/job-experience}" method="POST" th:object="${employment_detail}">

            <label>Employer</label>
            <input type="text" th:field="*{employer}">
            <br>

            <label>Address1</label>
            <input type="text" th:field="*{address1}">
            <br>

            <label>Address2</label>
            <input type="text" th:field="*{address2}">
            <br>

<!--            <input type="date" th:field="*{startDate}" th:value="12/12/97">-->
<!--            <input type="date" th:field="*{endDate}" th:value="12/12/97" >-->
            <label>Start Date</label>
            <input type="date" id="startDate" name="startDate" >
            <br>

            <label>End Date</label>
            <input type="date" id="endDate" name="endDate" >
            <br>

            <label>Supervisor</label>
            <input type="text" th:field="*{supervisor}">
            <br>

            <label>Reason For Leaving</label>
            <input type="text" th:field="*{reasonForLeaving}">
            <br>

            <label>Ok to Call?</label>
            <input type="text" th:field="*{okToCall}">
            <br>

            <label>Phone Number</label>
            <input type="text" th:field="*{phoneNumber}">
            <br>

            <button type="submit">Send form</button>

        </form>
    </div>


<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>