<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
  <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <body>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo"><img id="logo" src="assets/img/Tier-1-clear.jpg"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
          <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
          <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="page landing-page">
    <section class="clean-block clean-hero" style="color: rgba(9, 162, 255, 0.85);background: url(&quot;assets/img/tech/intervew-pic.jpeg&quot;), #621708;background-size: cover, auto;">
      <div class="text">
        <h2><strong>Welcome to&nbsp;the future&nbsp;of hiring and career services</strong></h2>
        <p>Pre-screening top tier candidates to get people to work quicker.<br></p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
      </div><img src="assets/img/avatars/avatar3.jpg">
    </section>
    <section class="clean-block clean-info dark">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">What does it mean to be Tier-1 Certified?</h2>
          <p></p>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <h3 style="text-align: center;">Job Seekers</h3>
            <div class="getting-started-info">
              <p style="text-align: center;">Save time by creating one universal job application portfolio. Upload and verify credentials and transcripts, pre-screen background checks for hiring managers and recruiters, being Tier One certified helps you take care of the important things instead of spending hours applying for new jobs.&nbsp;</p>
            </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
          </div>
          <div class="col-md-6">
            <h3 style="text-align: center;">Companies</h3>
            <div class="getting-started-info">
              <p style="text-align: center;">Save time by filtering straight to candidates who meet you qualifications. Saving time vetting resumes and screening candidates who may not meet company expectations or qualifications. Search our library of candidates who already have background checks and verified education and credentials.&nbsp;</p>
            </div><button class="btn btn-outline-primary btn-lg" type="button">View Pricing</button>
          </div>
        </div>
      </div>
    </section>
    <section class="clean-block features">
      <div class="container">
        <div class="block-heading">
          <h2 class="text-info">Features</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
            <h4>Credential Verification</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
          </div>
          <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
            <h4>Pre-Background Check</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
          </div>
          <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
            <h4>Schedule Interviews</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
          </div>
          <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
            <h4>Upload Transcripts and Certifications</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
          </div>
        </div>
      </div>
      <div class="block-heading">
        <h2 class="text-info">Meet the Team</h2>
        <p></p>
      </div>
    </section>
    <section class="clean-block about-us">
      <section class="team-grid">
        <div class="container">
          <div class="row people">
            <div class="col-md-4 col-lg-3 item">
              <div class="box" style="background-image: url(static/img/william-resize.jpg);">
                <div class="cover">
                  <h3 class="name">William Baldridge</h3>
                  <p class="title">Developer</p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
              <div class="box" style="background-image: url(static/img/audi-pic.jpg);">
                <div class="cover">
                  <h3 class="name">Audi Brattin</h3>
                  <p class="title">Developer/Designer</p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
              <div class="box" style="background-image: url(static/img/sam-resize.png);">
                <div class="cover">
                  <h3 class="name">Sam Lansford</h3>
                  <p class="title">Development/ Data Base management</p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
              <div class="box" style="background-image: url(static/img/sergio.jpeg);">
                <div class="cover">
                  <h3 class="name">Sergio Cazaresmuniz</h3>
                  <p class="title"><strong>DEVELOPMENT/ DATA BASE MANAGEMENT</strong></p>
                  <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div>
        <div class="container-fluid">
          <h1>Contact Information</h1>
          <hr>
          <form id="contactForm" action="javascript:void(0);" method="get"><input class="form-control" type="hidden" name="Introduction" value="This email was sent from www.awebsite.com"><input class="form-control" type="hidden" name="subject" value="Awebsite.com Contact Form"><input class="form-control" type="hidden" name="to" value="email@awebsite.com">
            <div class="form-row">
              <div class="col-md-6">
                <div id="successfail"></div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-md-6" id="message">
                <h2 class="h4"><i class="fa fa-envelope"></i> Contact Us<small><small class="required-input">&nbsp;(*required)</small></small></h2>
                <div class="form-group"><label for="from-name">Name</label><span class="required-input">*</span>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user-o"></i></span></div><input class="form-control" type="text" id="from-name" name="name" required="" placeholder="Full Name">
                  </div>
                </div>
                <div class="form-group"><label for="from-email">Email</label><span class="required-input">*</span>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope-o"></i></span></div><input class="form-control" type="text" id="from-email" name="email" required="" placeholder="Email Address">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="form-group"><label for="from-phone">Phone</label><span class="required-input">*</span>
                      <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-phone"></i></span></div><input class="form-control" type="text" id="from-phone" name="phone" required="" placeholder="Primary Phone">
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                    <div class="form-group"><label for="from-calltime">Best Time to Call</label>
                      <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-clock-o"></i></span></div><select class="form-control" id="from-calltime" name="call time">
                        <optgroup label="Best Time to Call">
                          <option value="Morning" selected="">Morning</option>
                          <option value="Afternoon">Afternoon</option>
                          <option value="Evening">Evening</option>
                        </optgroup>
                      </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group"><label for="from-comments">Comments</label><textarea class="form-control" id="from-comments" name="comments" placeholder="Enter Comments" rows="5"></textarea></div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col"><button class="btn btn-primary btn-block" type="reset"><i class="fa fa-undo"></i> Reset</button></div>
                    <div class="col"><button class="btn btn-primary btn-block" type="submit">Submit <i class="fa fa-chevron-circle-right"></i></button></div>
                  </div>
                </div>
                <hr class="d-flex d-md-none">
              </div>
              <div class="col-12 col-md-6">
                <h2 class="h4"><i class="fa fa-location-arrow"></i> Locate Us</h2>
                <div class="form-row">
                  <div class="col-12">
                    <div class="static-map"><a rel="noopener" href="https://www.google.com/maps/place/Daytona+International+Speedway/@29.1815062,-81.0744275,15z/data=!4m13!1m7!3m6!1s0x88e6d935da1cced3:0xa6b3e1bc0f2fc83a!2s1801+W+International+Speedway+Blvd,+Daytona+Beach,+FL+32114!3b1!8m2!3d29.187028!4d-81.0703076!3m4!1s0x88e6d949a4cb8593:0x1387c6c0b5c8cc97!8m2!3d29.1851681!4d-81.0705292" target="_blank"> <img class="img-fluid" src="http://maps.googleapis.com/maps/api/staticmap?autoscale=2&amp;size=600x210&amp;maptype=roadmap&amp;format=png&amp;visual_refresh=true&amp;markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C582+1801+W+International+Speedway+Blvd+Daytona+Beach+FL+32114&amp;zoom=12" alt="Google Map of Daytona International Speedway"></a></div>
                  </div>
                  <div class="col-sm-6 col-md-12 col-lg-6">
                    <h2 class="h4"><i class="fa fa-user"></i> Our Info</h2>
                    <div><span><strong>Name</strong></span></div>
                    <div><span>team@tierone.com</span></div>
                    <div><span>www.tierone.com</span></div>
                    <hr class="d-sm-none d-md-block d-lg-none">
                  </div>
                  <div class="col-sm-6 col-md-12 col-lg-6">
                    <h2 class="h4"><i class="fa fa-location-arrow"></i> Our Address</h2>
                    <div><span><strong>Office Name</strong></span></div>
                    <div><span>1234 Gold Standard Dr</span></div>
                    <div><span>San Antonio TX, 78209</span></div>
                    <div><abbr data-toggle="tooltip" data-placement="top" title="Office Phone: 555-867-5309">O:</abbr> 210-555-5555</div>
                    <hr class="d-sm-none">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="modal1">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="page-footer dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h5>Get started</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sign up</a></li>
            <li></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>About us</h5>
          <ul>
            <li><a href="#">Company Information</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Reviews</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Support</h5>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li></li>
            <li><a href="#">Forums</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h5>Legal</h5>
          <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <p>© 2021 TierOne Capstone</p>
    </div>
  </footer>
  <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
  <head th:replace="partials/scripts :: scripts">

  </head>
  </body>

</div>
</body>
</html>


