<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>
  <link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<h1>This is the profile</h1>

<!--<h1>User first name <span th:text="${users.firstName}"></span></h1>-->
<!--<h1>User last name <span th:text="${users.lastName}"></span></h1>-->
<!--<h1>User  <span th:text="${users.lastName}"></span></h1>-->
<div class="container">
  <div class="row">
    <div class="col">

      <div class="lg:col-span-4 col-span-full flex flex-wrap items-start justify-around py-14 px-4 sm:px-6 lg:px-8 w-full">
        <h1 style="text-align: center; font-weight: bold; color: white" >Upload A Resume!</h1>
        <form th:action="@{/fileUpload}" method="post" enctype="multipart/form-data" th:object="${resume}" class=" space-y-6 w-full">
          <input type="file" id="resume" name="file" required class="bg-white appearance-none rounded-md relative block w-full mx-auto px-4 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm max-w-xs">
          <label for="title" class="sr-only">Title</label>
          <input type="text" th:field="*{title}" placeholder="Title" id="title" required class="appearance-none rounded-md relative block w-full mx-auto px-4 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm max-w-xs">
          <label for="description" class="sr-only">description</label>
          <textarea th:field="*{description}" placeholder="Description" id="description" class="appearance-none resize-none rounded-md relative block w-full mx-auto px-4 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm max-w-xs"></textarea>
          <input type="submit" value="Upload" style="background-color: #F5CB5C" class="text-grey-800 appearance-none rounded-md relative block w-full mx-auto px-4 py-4 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm max-w-xs"/>
        </form>
      </div>

    </div>
  </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>
