<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head th:replace="partials/head :: head('Email')"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<div class="email-bg">


    <div class="container">

        <div>
            <h2 class="mt-4 mb-5 ml-5 text-info">Contact</h2>
        </div>

        <section class="container card">
        <div class="container mb-4" sec:authorize="isAuthenticated()">
            <form th:action="@{/send-email}" method="POST" class="form-padding">

                <input name="ownerUsername" type="hidden" th:value="*{currentUser.username}">

                <label class="mt-3" for="emailSubject">Subject:</label>
                <input id="emailSubject" name="emailSubject" class="form-control mb-4">

                <label for="emailBody">Body:</label>
                <textarea id="emailBody" name="emailBody" class="form-control mb-4" rows="6" cols="20"></textarea>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mb-2 col-12" type="submit">Send</button>
                </div>

            </form>
        </div>
        </section>
    </div>
</div>

</body>
</html>